img {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a,
input {
  min-height: 45px;
  min-width: 45px;
}

.menu a {
  color: white;
  padding: 0px 10px;

  &:hover {
    color: fuchsia;
  }
}

/* bikin garis begin*/

.hamb-line {
  background-color: white;
  display: block;
  height: 2px;
  position: relative;

  &::before,
  &::after {
    background-color: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: -5px;
  }
}

/* bikin garis end*/

/* Animasi Toggle Menu Layar Kecil Begin */

@media (min-width: 768px) {
  .search-container {
    .search-body {
      width: 40vw !important;
      .search-box {
        width: 35vw !important;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
  }

  .resto-container {
    padding: 0 125px !important;
  }

  .card {
    max-width: 350px;
  }
}

.card {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  position: relative;

  .card-header img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 214px;
    object-fit: cover;
  }
}

.card-body {
  padding: 10px;

  a:last-child {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    width: fit-content;

    &:focus,
    &:hover {
      background-color: #0077ff;
      color: #e0efff;
    }
  }
}

.card-tag {
  background-color: indigo;
  padding: 4px 8px;
  border-radius: 0 50px 50px 0;
  font-size: 12px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 20px;
  left: 0px;
  min-width: 100px;
}

.card-name {
  font-size: 24px;
  font-weight: 600;
  color: indigo;
  display: inline-block;
  &:hover {
    color: fuchsia;
  }
}

.card-description {
  font-size: small;
  color: gray;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.resto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5em;
  padding: 0 25px;
}

/* rating bintang */

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;

  &::before {
    content: '\f006 \f006 \f006 \f006 \f006';
  }
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;

  &::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    color: #f8ce0b;
  }
}

#mainContent .title {
  background-image: linear-gradient(45deg, #ffbaea, indigo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

.hero-container {
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(14, 13, 13);
}

.hero-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 64px;
}

.hero-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

footer {
  background-color: indigo;
  padding: 5px;
  margin: 25px auto auto auto;
  color: white;
  font-size: small;
  text-align: center;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: indigo;
  color: white;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: 0;
    z-index: 9999;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;

  .search-body {
    background-color: #dddbda;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    z-index: 99;
    padding: 25px;

    .search-box {
      position: relative;
      width: 80vw;
      height: 3rem;
      padding-left: 1.5rem;
      border-radius: 1.5rem;
      background: #ffffff;
      box-shadow: 0 1.25rem 5rem -1rem rgba(0, 0, 30, 0.5);
      transition: transform 200ms ease-in-out;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 1.5rem;
        box-shadow: 0 0.5rem 2rem -1rem rgba(0, 0, 100, 0.5);
        opacity: 0;
        pointer-events: none;

        transition: opacity 300ms ease-in-out;
      }

      .search-input {
        all: unset;
        width: 100%;
        height: 100%;
        color: #333355;

        &::placeholder {
          color: inherit;
          opacity: 0.3;
        }
      }

      .search-button {
        all: unset;
        position: absolute;
        right: 0;
        height: 3rem;
        padding-left: 1rem;
        border-radius: 1.5rem;
        background: mediumorchid;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: 1.5rem;
          box-shadow: 0 0.5rem 2rem 0 rgba(41, 110, 199, 0.25),
            0 0.5rem 1rem -0.75rem rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }

        &:hover::before {
          opacity: 1;
        }

        label {
          display: block;
          opacity: 0;
          color: white;
          width: 0;
          transition: width 200ms ease-in-out, opacity 100ms ease-in-out;
        }

        .search-icon {
          position: absolute;
          height: 0.875rem;
          width: 0.875rem;
          top: 1rem;
          left: 0.875rem;
          border: 0.125rem solid white;
          border-radius: 50%;
          box-sizing: border-box;
          transform: rotate(-45deg);

          &::after {
            content: '';
            position: absolute;
            height: 0.5rem;
            width: 0.125rem;
            background: white;
            left: calc(50% - (0.125rem / 2));
            bottom: -0.6rem;
          }
        }
      }

      &:has(input:not(:placeholder-shown)) {
        button {
          label {
            opacity: 1;
            width: 3rem;
            margin-left: -0.5rem;
            padding-right: 1rem;
          }
        }
      }

      &:has(input:focus) {
        transform: translateY(-0.5rem);
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

/**/

.resto-detail {
  .name {
    font-size: 42px;
    font-weight: bold;
  }

  .container {
    margin-left: 2em;
    margin-right: 2em;

    display: flex;
    flex-wrap: wrap;

    .customer-review {
      margin-top: 20px;
      width: 100%;

      .card-customer-review {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        transition: all 0.2s;
        grid-template-rows: 20px 50px 1fr 50px;
        box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);

        .name {
          font-size: larger;
          font-weight: 600;
          color: indigo;
        }

        .date {
          color: gray;
          font-size: smaller;
        }

        .review {
          font-size: medium;
        }
      }
    }
    .image-container {
      position: relative;
      grid-area: 1 / 1 / 2 / 2;
    }

    .image-container img {
      max-width: 100%;
    }

    .city {
      background-color: indigo;
      padding: 4px 8px;
      border-radius: 0 50px 50px 0;
      font-size: 32px;
      font-weight: 600;
      color: white;
      position: absolute;
      top: 20px;
      left: 0px;
      min-width: 100px;
    }

    .data-resto {
      width: 100%;
      grid-area: 1 / 2 / 2 / 3;
      padding-left: 10px;
      padding-right: 10px;
      .address {
        font-size: small;
        color: gray;
      }

      .description {
        padding: 10px 0;
      }

      .categories {
        padding: 5px;
        margin-right: 10px;
        border-radius: 20px;
        font-size: small;
        border: 2px solid;
      }
    }

    .menu-container {
      grid-area: 2 / 2 / 3 / 3;
      margin-top: 20px;
      width: 100%;

      .box {
        display: flex;
        flex-wrap: wrap;
      }
      .menu-makanan {
        padding: 10px 0;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h2 {
          color: white;
          background: mediumorchid;
          padding: 5px;
          font-size: 20px;
          font-weight: 300;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        ul {
          position: relative;
          background: #fff;
          &:hover {
            li {
              opacity: 0.3;
            }
          }
          li {
            list-style: none;
            padding: 2px;
            width: 100%;
            background: #fff;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
            transition: transform 0.5s;
            &:hover {
              transform: scale(1.1);
              z-index: 5;
              background: mediumorchid;
              box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
              color: white;
              opacity: 1;
              span {
                background: #fff;
                color: blueviolet;
              }
            }
            span {
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              background: mediumorchid;
              color: white;
              display: inline-block;
              border-radius: 50%;
              margin-right: 10px;
              font-size: 12px;
              font-weight: 600;
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .resto-detail {
    .name {
      font-size: 42px;
      font-weight: bold;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .customer-review {
        grid-area: 2 / 1 / 3 / 2;
        margin-top: 20px;
        padding-right: 20px;

        .card-customer-review {
          margin-top: 10px;
          padding: 10px;
          width: 500px;
          border-radius: 10px;
          transition: all 0.2s;
          grid-template-rows: 20px 50px 1fr 50px;
          box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);

          .name {
            font-size: larger;
            font-weight: 600;
            color: indigo;
          }

          .date {
            color: gray;
            font-size: smaller;
          }

          .review {
            font-size: medium;
          }
        }
      }
      .image-container {
        position: relative;
        grid-area: 1 / 1 / 2 / 2;
      }

      .image-container img {
        max-width: 100%;
      }

      .city {
        background-color: indigo;
        padding: 4px 8px;
        border-radius: 0 50px 50px 0;
        font-size: 32px;
        font-weight: 600;
        color: white;
        position: absolute;
        top: 20px;
        left: 0px;
        min-width: 100px;
      }

      .data-resto {
        width: 100%;
        grid-area: 1 / 2 / 2 / 3;
        padding-left: 10px;
        padding-right: 10px;
        .address {
          font-size: small;
          color: gray;
        }

        .description {
          padding: 10px 0;
        }

        .categories {
          padding: 5px;
          margin-right: 10px;
          border-radius: 20px;
          font-size: small;
          border: 2px solid;
        }
      }

      .menu-container {
        grid-area: 2 / 2 / 3 / 3;
        margin-top: 20px;
        padding-right: 20px;

        .box {
          display: flex;
          flex-wrap: wrap;
        }
        .menu-makanan {
          padding: 20px;
          width: 300px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          h2 {
            color: white;
            background: mediumorchid;
            font-size: 20px;
            font-weight: 300;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          ul {
            position: relative;
            background: #fff;
            &:hover {
              li {
                opacity: 0.3;
              }
            }
            li {
              list-style: none;
              padding: 2px;
              width: 100%;
              background: #fff;
              box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
              transition: transform 0.5s;
              &:hover {
                transform: scale(1.1);
                z-index: 5;
                background: mediumorchid;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
                color: white;
                opacity: 1;
                span {
                  background: #fff;
                  color: blueviolet;
                }
              }
              span {
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                background: mediumorchid;
                color: white;
                display: inline-block;
                border-radius: 50%;
                margin-right: 10px;
                font-size: 12px;
                font-weight: 600;
                transform: translateY(-2px);
              }
            }
          }
        }
      }
    }
  }
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: indigo;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

#form-review {
  border-radius: 15px;
  padding: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: indigo;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: blueviolet;
}

input[type='submit']:hover {
  background-color: #45a049;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: indigo;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
  }
}

/* Header begin */

header {
  background-image: linear-gradient(to bottom right, indigo, rgb(189, 84, 250));
  padding: 8px 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .menu {
    display: flex;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      font-size: 18px;
      padding: 8px;
      cursor: pointer;
    }
  }

  .brand {
    display: flex;
    align-items: center;

    h1 {
      color: white;
      font-size: 22px;
      user-select: none;
    }
  }
  .open-menu {
    left: 0;
  }
  nav {
    position: absolute;
    top: 60px;
    left: -1200px;
    width: 100%;
    transition: all 0.5s;
    padding: 8px;
    overflow: hidden;
    background-color: indigo;

    ul li a {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 8px;
      margin-bottom: 5px;
      width: 100%;
      &:hover {
        color: fuchsia;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  header {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;

    .brand h1 {
      font-size: 1.5em;
      font-weight: 700;
    }

    .menu {
      display: none;
    }

    nav {
      position: static;
      width: 100%;
      background-color: transparent;

      ul li {
        display: inline-block;
        a {
          display: inline-block;
          width: 120px;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

/* bikin garis begin*/

.hamb-line {
  background-color: white;
  display: block;
  height: 2px;
  position: relative;

  &::before,
  &::after {
    background-color: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  &::before {
    top: 7px;
  }

  &::after {
    top: -7px;
  }
}

.hamb-line-open {
  background: transparent;
  &::before {
    transform: rotate(-45deg);
    top: 0;
  }

  &::after {
    transform: rotate(45deg);
    top: 0;
  }
}

/* bikin garis end*/
/* Header end */

.center {
  text-align: center;
  margin: auto;
}

.w-50 {
  width: 50%;
}
